html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #fcfcfd;
  line-height: 0px;
}

* {
  box-sizing: border-box;
}

p,
span {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
